@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css";
@import url("@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');");

* {
  box-sizing: border-box;
}

#app {
  font-family: "Manrope", sans-serif;
  background-color: #f9fafc;
  box-shadow: 0 5px 20px #3131311f;
  margin: 2.4rem 0 0;
  padding: 1.75rem 1.75rem 1.75rem;
}

.controls {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 2.5rem;
  border-bottom: 2px solid #8492a6;
  color: #1f2d3d;
}

.controls__unit {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.controls__unit:first-child > svg {
  margin-right: 0.5rem;
}

.controls__unit:first-child > span {
  margin-right: auto;
}

.controls__unit:last-child > svg {
  margin-left: 0.5rem;
}

.controls__unit:last-child > span {
  margin-left: auto;
}

#next strong {
  font-weight: 700;
}

#map {
  text-align: center;
}

#map > svg {
  width: 100%;
  height: 100%;
}

#map > svg.map--usa {
  max-width: 959px;
  max-height: 500px;
}

.state {
  fill: #d3dce6;
  stroke: #d3dce6;
  stroke-width: 2;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  margin-top: 2.5rem;
  border-top: 2px solid #8492a6;
}

.buttons button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #d3dce6;
  padding: 8px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.25rem;
  color: #1f2d3d;
  transition: background-color 0.15s ease-in-out;
}

.buttons button:hover {
  background-color: #c0ccda;
}

.buttons button svg {
  margin-right: 0.5rem;
}

#footer {
  margin-bottom: 2.4rem;
  padding-top: 0.5rem;
  font-size: 13px;
  color: #1f2d3d;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#footer a {
  color: #1f2d3d;
  text-decoration: underline;
}

#footer a:hover {
  text-decoration: none;
}

.footer__maps {
  display: flex;
}

.footer__map:not(:last-child)::after {
  content: "|";
  font-weight: normal;
  margin-right: 0.25rem;
}

.footer__map--active {
  font-weight: 600;
}
